In [3]:
import pandas as pd 
import matplotlib
import statistics as sta
#loading DataFrame
data= pd.read_csv('Zombaie.csv')
num_rows = data.shape[0]
num_cols = data.shape[1]

# Print the result
print("The data set has", num_rows, "rows and", num_cols, "columns.")
# print(data)
data.head(20)

The data set has 1000 rows and 7 columns.

    id  first_name  last_name  gender  Zombies  age    location
0    1     Sheffie     Dupree    Male     True   84  California
1    2      Timmie      Conre  Female    False   71    New York
2    3      Gerrie   Lipscomb  Female     True   80       Texas
3    4       Kylie      Orrum  Female    False   75  California
4    5      Ashlen     Hegley  Female    False   23  California
5    6        Dodi     Manach  Female    False   46     Florida
6    7  Hyacinthia  Skittrall    Male    False   42  California
7    8      Kriste   Pringour    Male    False    3  California
8    9        Paco      Mudge    Male     True   46  California
9   10  Alexandros  Manifield  Female     True   64     Florida
10  11       Neddy     Andrus  Female     True   29    New York
11  12      Astrix     Atmore  Female     True   61  California
12  13      Marion  Escoffrey    Male    False   49     Florida
13  14    Raffarty   Durtnall    Male     True   56  California
14  15      Penrod     Olenov  Female    False   41       Texas
15  16     Amelina      Anger  Female     True   39  California
16  17      Kassey  Bettinson  Female     True   56     Florida
17  18      Mollie     Vassar    Male     True   48       Texas
18  19        Myca     Dermot  Female     True   82    New York
19  20     Carlita   Johnston  Female    False   16  California

In [5]:


# Calculate the total number of records in the data set
total_records = len(data)

# Calculate the number of records that have been impacted by the zombie virus
impacted_records = len(data[data['Zombies'] == True])

# Calculate the percentage of records that have been impacted by the zombie virus
percentage_impacted = round((impacted_records / total_records) * 100)

# Print the percentage of records that have been impacted by the zombie virus
print(f"{percentage_impacted}% of the data set has been impacted by the zombie virus.")

51% of the data set has been impacted by the zombie virus.

In [6]:
impacted_records1 = len(data[data['Zombies'] == True])

# Calculate the percentage of records that have been impacted by the zombie virus
impacted_records2 = len(data[data['Zombies'] == False])
print(impacted_records1)
print(impacted_records2)

511
489

In [8]:
# Calculate the total number of records in the data set
total_records = len(data)

# Calculate the number of records that have been impacted by the zombie virus
impacted_records = len(data[data['Zombies'] == True])

# Calculate the number of impacted individuals for each gender
male_impacted = len(data[(data['Zombies'] == True) & (data['gender'] == 'Male')])
female_impacted = len(data[(data['Zombies'] == True) & (data['gender'] == 'Female')])

# Calculate the percentage of impacted individuals for each gender
male_percentage_impacted = round((male_impacted / impacted_records) * 100)
female_percentage_impacted = round((female_impacted / impacted_records) * 100)

# Print the percentage of impacted individuals for each gender
print(f"{male_percentage_impacted}% of impacted individuals were male, and {female_percentage_impacted}% were female.")

51% of impacted individuals were male, and 49% were female.

In [10]:
import numpy as np
# Calculate the mean age
mean_age = round(np.mean(data['age']))

# Calculate the mode age
mode_age = round(data['age'].mode()[0])

# Calculate the median age
median_age = round(np.median(data['age']))

# Calculate the range of ages
min_age = min(data['age'])
max_age = max(data['age'])
age_range = max_age - min_age

# Print the results
print(f"Mean age: {mean_age}\nMode age: {mode_age}\nMedian age: {median_age}\nAge range: {age_range}")

Mean age: 48
Mode age: 8
Median age: 48
Age range: 98

In [12]:
infected_mean_age = round(np.mean(data[data['Zombies'] == True]['age']))

# Calculate the mean age of the uninfected population
uninfected_mean_age = round(np.mean(data[data['Zombies'] == False]['age']))

# Print the results
print(f"Mean age of infected population: {infected_mean_age}\nMean age of uninfected population: {uninfected_mean_age}")

Mean age of infected population: 49
Mean age of uninfected population: 47

In [13]:


# Group the data by state and sum the number of zombies in each state
zombie_counts = data.groupby('location')['Zombies'].sum()

# Sort the data in descending order by the number of zombies
zombie_counts = zombie_counts.sort_values(ascending=False)

# Extract the state with the third highest number of zombies
third_highest_state = zombie_counts.index[2]

# Print the result
print(f"The state with the third highest number of zombies is {third_highest_state}.")

The state with the third highest number of zombies is Florida.